.menu{
    display: flex;
    padding: 0.7em;
    flex-direction: row;
    min-width: 330px;
    background-color: red;
    

    .icon{
        margin-right: 1.5em;
        width: 25px;
        height: 25px;

    }

    .text{
        margin-top: 1px;
        font-size: 16px;
    }


    &:hover{
        cursor: pointer;
    }
}

@media only screen and (max-width: 1900px){
    .menu{
        min-width: 240px;
    }
} 